<ion-view view-title="Results">
  <ion-content>
    <ion-list>
      <ion-item class="item-remove-animate item-avatar item-icon-right" ng-repeat="market in markets" type="item-text-wrap" href="#/tab/markets/{{market.id}}">
        <h2>{{market.name}}</h2>
        <p>{{market.schedule_hours_description}}</p>
        <p>{{market.distance || 0}} miles away</p>
        <i class="icon ion-chevron-right icon-accessory"></i>
        <ion-option-button class="button-assertive" ng-click="favorite(market)">
          Favorite
        </ion-option-button>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>
