<ion-view view-title="{{market.name}}">
  <ion-content class="padding">
    <div class="list card">
      <div class="item item-avatar">
        <img src="../img/ionic.png" >
        <h2>{{market.name}}</h2>
      </div>
      <div class="item item-body">
        <ui-gmap-google-map class="market-map" center='map.center' zoom='map.zoom'>
          <ui-gmap-marker idKey='market.id' coords='market' options='{title: market.name}'></ui-gmap-marker>
        </ui-gmap-google-map>
        <p ng-show="market.distance">{{market.distance}} miles away</p>
        <p>Season: {{market.schedule_season_description}}</p>
        <p>Schedule: {{market.schedule_hours_description}}</p>
      </div>
  </div>
  </ion-content>
</ion-view>
