<!--
  This template loads for the 'tab.friend-detail' state (app.js)
  'friend' is a $scope variable created in the FriendsCtrl controller (controllers.js)
  The FriendsCtrl pulls data from the Friends service (service.js)
  The Friends service returns an array of friend data
-->
<ion-view view-title="{{market.name}}">
  <ion-content class="padding">
    <div class="list card">
      <div class="item item-avatar">
        <img src="../img/ionic.png" >
        <h2>{{market.name}}</h2>
      </div>
      <div class="item item-body">

        <div id="map" data-tap-disabled="true" style="height:200px"></div>
        <p ng-show="market.distance">{{market.distance}} miles away</p>
        <p>Season: {{market.schedule_season_description}}</p>
        <p>Schedule: {{market.schedule_hours_description}}</p>
      </div>
  </div>
  </ion-content>
</ion-view>
