<!--
Create tabs with an icon and label, using the tabs-positive style.
Each tab's child <ion-nav-view> directive will have its own
navigation history that also transitions its views in and out.
-->
<ion-tabs class="tabs-icon-top tabs-color-active-positive">

  <!-- Chats Tab -->
  <ion-tab title="Farms" icon-off="ion-social-octocat" icon-on="ion-social-octocat" href="#/tab/farms">
    <ion-nav-view name="tab-farms"></ion-nav-view>
  </ion-tab>

  <!-- About Tab -->
  <ion-tab title="Account" icon-off="ion-ios-information-outline" icon-on="ion-ios-information" href="#/tab/about">
    <ion-nav-view name="tab-about"></ion-nav-view>
  </ion-tab>


</ion-tabs>
